.catalog-border{
    
    border-style: solid;
    padding: 50px;
    margin: 10px;
    /* padding-bottom: 50px; */
    border-radius: 30px;
    border-color: #325662;
    background-image: 'https://www.adobe.com/content/dam/cc/us/en/creativecloud/photography/discover/mountain-photography/Mountain-photography_fb-img_1200x800.jpg';
}
.pic{
    border-radius: 20%;
    padding-top: 30px;
}
/* .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-item {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .pagination-item.active {
    background-color: #007bff;
    color: #fff;
  } */
  
