.padding_0 {
    padding: 20px;
    padding-bottom: 50px;
    
}
@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  } 
  .map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .padding_left_0{
    padding-left: 15px;
}
.subscribe_bt {
    width: 180px;
    float: left;
    margin-top: 15px;
}
.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #f7c17b;
    padding: 8px;
    margin-top: 25px;
   margin-left: 10px;
}
.subscribe_bt a:hover{
    color: #9e9c9c;
    background-color: #ffffff;
}
.info{
    padding-right: 50px;
    padding-top: 90px;
}
.font{
    padding-bottom: 200px;
}


